body {
    background-color: #FEFF57;
}

header {
    margin: 50px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

article img {
    border-radius: 50%;
    width: 225px;
    height: 225px;
    object-fit: cover;
    object-position: top;
    margin: 0 30px;
}

article {
    display: flex;
    align-items: center;
    margin: 15px;
    width: 30%;
}

article div {
    margin: 0 30px;
}

article div h4 {
    font-family: muppetsFont, Monaco, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    margin: 0;
    color: #174E90
}

article div p {
    color: #174E90;
    font-family: Monaco, sans-serif;
    font-size: 20px;
    margin: 20px 0;
}

section {
    position: static;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin: 0;
}

section img {
    padding:0;
}

@media screen and (max-width: 910px) {
    section img {
        width: 100%;
    }
    article img {
        width: 225px;
        height: 225px;
    }
}

@media screen and (min-width: 865px) {
    article {
        flex-direction: column;
        text-align: center;
    }
    article img {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 865px) {
    article {
        flex-direction: column;
        text-align: center;
        width: 34%;
    }
    article div {
        width: 50%;
        padding: 20px;
    }
    article img {
        margin: 0;
    }
}

@media screen and (max-width: 700px) {
    header img {
        width: 100%;
    }
    article {
        width: 100%;
    }
    article img {
        width: 275px;
        height: 275px;
    }
}

@font-face {
    font-family: muppetsFont;
    src: url(assets/the_muppet_font.otf);
}
