html {
}
body {
    background-color: #FEFF57;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}

header {
    margin: 50px 50px 0 50px;
    text-align: center;
}

.error {
    color: #A91725;
    text-align: center;
    font-family: Monaco, sans-serif;
}

.searchContainer {
    margin: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchForm {
    display: flex;
    justify-content: center;
}

.searchTermContainer {
    display: flex;
    width: 550px;
}

.searchTermPlaceholder {
    color: #729943;
    font-family: Monaco, sans-serif;
    font-size: 18px;
    width: 45%;
    padding: 0 10px;

}

.searchResult {
    color: #174E90;
    font-family: Monaco, sans-serif;
    font-size: 18px;
    width: 45%;
    word-wrap: break-word;
    text-align: left;
    padding: 0 10px;

}

.searchIcon {
    width: 40px;
}

.searchBar {
    border-radius: 20px;
    padding: 10px 10px 10px 15px;
    color: #729943;
    font-family: Monaco, sans-serif;
    width: 500px;
}

::placeholder {
    color: #729943;
    font-family: Monaco, sans-serif;
    font-size: 18px;
}

.searchButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

article img {
    border-radius: 50%;
    width: 225px;
    height: 225px;
    object-fit: cover;
    object-position: top;
    margin: 0 30px;
}

article {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
    width: 30%;
}

article div {
    margin: 0 30px;
}

.button {
    background-color: #729943;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    font-family: Monaco, sans-serif;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #A91725;
}

.clear {
    display: flex;
    text-align: center;
    align-items: center;
}

article div h4 {
    font-family: muppetsFont, Monaco, sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    margin: 0;
    color: #174E90
}

article div p {
    color: #174E90;
    font-family: Monaco, sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

section {
    flex-shrink: 0;
    text-align: center;
    width: 100%;
    margin: 0;
}

section img {
    padding:0;
}

.muppetDetails {
    display: flex;
    justify-content: center;
    text-align:left;
}

.muppetDetails h1 {
    font-family: muppetsFont, Monaco, sans-serif;
    letter-spacing: 1px;
    color: #174E90;
    font-size: 40px;
}

.muppetDetails ul li {
    font-family: Monaco, sans-serif;
    color: #174E90;
    font-size: 20px;
    margin: 20px 0;
    font-weight: bold;
}

form {
    margin-top: 30px;
}

form button {
    font-size: 24px;
}

.muppetDetails img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin-right: 60px;
}

.muppetDetails ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

.muppetAttribute {
    color: #729943;
}

.outOf {
    color: #A91725;
}

@media screen and (max-width: 910px) {
    section img {
        width: 100%;
    }
    article img {
        width: 225px;
        height: 225px;
    }
}

@media screen and (min-width: 865px) {
    article {
        flex-direction: column;
        text-align: center;
    }
    article img {
        margin-bottom: 20px;
    }
    #narrowClear {
        display: none;
    }
}

@media screen and (max-width: 865px) {
    article {
        flex-direction: column;
        text-align: center;
        width: 34%;
        padding: 20px;
    }
    article div {
        width: 50%;
        padding-top: 20px;
    }
    article img {
        margin: 0;
    }
    #wideClear {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    header {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .muppetLogo {
        width: 95%;
        margin: 20px 0 30px 0;
    }
    article {
        width: 100%;
    }
    article img {
        width: 275px;
        height: 275px;
    }
    .muppetDetails {
        flex-flow: column;
        align-items: center;
    }

    .muppetDetails img {
        margin: 0;
    }
    .searchBar {
        width: 80%;
    }
    .searchForm {
        width: 100%;
    }
    .searchContainer {
        width: 100%;
    }
    .searchTermContainer {
        width: 100%;
    }
    .searchResult {
        text-align: left;
        margin-right: 5%;
    }
    .searchTermPlaceholder {
        text-align: center;
        margin-left: 5%;
    }
    .error {
        margin: 0 20px;
        font-size: 20px;
    }
}

@font-face {
    font-family: muppetsFont;
    src: url(assets/the_muppet_font.otf);
}
